body {
    background-image: url("Images/outerspace-cartoon.jpg");
    background-size: cover;
    background-blend-mode: multiply;
	color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-logo {
	background-image:none
}

header {
	border-bottom:1px solid rgba(255,255,255,.3); 
}

header::after {
	content: '';
	display: table;
	clear: both; 
}

nav ul {
    margin:0px;
} 

nav li {
    display:inline-block;
	margin-top:20px;
	color:white;
}

nav a {
    padding: .5em;
    text-decoration: none;
}  

.main-nav {
	margin: 0 auto;
    font-size: 1.5em;
    font-weight:bolder;
    border:1px solid rgba(255,255,255,.3); 
    color:white; 
}


nav a:hover {
    background:rgba(255,255,255,.3);
}

nav h1 {
    font-size:2em;
}

.employee-table {
    color:black;
} 

.nav-word {
	float: left;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top: 0px;
} 

nav {
	float: right;
}

.container { 
	text-align:center;
	padding: 50px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}