body {
    background-image: url("Images/outerspace-cartoon.jpg");
    background-size: cover;
    background-blend-mode: multiply;
	color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    background-image: url("Images/outerspace-cartoon.jpg");
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
	border-bottom:1px solid rgba(255,255,255,.3); 
}

header::after {
	content: '';
	display: table;
	clear: both; 
}

nav ul {
    margin:0px;
} 

nav li {
    display:inline-block;
	margin-top:20px;
	color:white;
}

nav a {
    padding: .5em;
    text-decoration: none;
}  

.main-nav {
	margin: 0 auto;
    font-size: 1.5em;
    font-weight:bolder;
    border:1px solid rgba(255,255,255,.3); 
    color:white; 
}


nav a:hover {
    background:rgba(255,255,255,.3);
}

nav h1 {
    font-size:2em;
}

.employee-table {
    color:black;
} 

.nav-word {
	float: left;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top: 0px;
} 

nav {
	float: right;
}

.container { 
	text-align:center;
	padding: 50px;
}











