body {
    background-image: url("Images/outerspace-cartoon.jpg");
    background-size: cover;
    background-blend-mode: multiply;
	color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align:center;
}

* {
	color:white;
}

header::after {
	content: '';
	display: table;
	clear: both; 
}

nav ul {
    margin:0px;
} 

nav li {
    display:inline-block;
	margin-top:20px;
	color:white;
}

nav a {
    padding: .5em;
    text-decoration: none;
}  

.main-nav {
	margin: 0 auto;
    font-size: 1.5em;
    font-weight:bolder;
    color:white; 
}

nav {
	float:right;
}


nav a:hover {
    text-decoration:underline;
}

nav h1 {
    font-size:2em;
}

.employee-table {
    color:black;
} 

.nav-word {
	float: left;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size:50px;
	margin-top:0px;
} 

.container { 
	text-align:center;
	padding: 50px;
}

.footer-nav {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
}

.content-head {
	font-weight:900;
	font-family:aleo;
	text-decoration:underline;
	font-size:50px;
}

.content {
	margin-left:20em;
	margin-right:20em;
	color:black;
	background-color:orange;
	border-radius:25px;
	width:50%;
}