table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin-right: auto;
    margin-left: auto;
    height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
    display:inline-block;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color:black;
  }
  
  th {
    background:rgb(125, 129, 127);
    text-align:center;
  }
  
  th,
  td {
    text-align:center;
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: white;
  }

  tr:nth-child(odd) {
    background: #eeeeee;
  }
   
  td.pos {
    color:green;
  }

  td.neg {
    color:red;
  }